#contactform {
    display: flex;
    flex-direction: column;

    & input, textarea {
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 0.5px solid white;
        border-radius: 10px;
        padding: 5px 15px;
        color: white;
        font-size: medium;

        &::placeholder {
            color: white;
            font-weight: bolder;
            font-size: large;
        }
    }

    & textarea {
        height: 100px;
        text-align:start;
        resize: none;
        
        &::placeholder {
            font-size: x-large;
        }
    }

    & button {
        margin: 18px;
        background-color: #3a8c00;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 8px;
        padding: 10px 15px 10px 15px;
        color: white;
        box-shadow: 5px 5px black;
        font-size: large;
        transition: all 0.6s ease;
        transition: border 0s ease;

        &:hover {
            cursor: pointer;
            background-color: #a1d28a;
            color: black;
        }

        &:active {
            background-color: #80a56e;
            border: 2px solid black;
        }
    }
}

#socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 15px;

    & li a img {
        max-width: 40px;
        margin: 0px 20px;
        background-color: white;
        border-radius: 8px;
        border: 2px solid black;
        padding: 2px;
        transition: 100ms ease-in-out; /* Suaviza a transição do efeito */
    }
}

#socialmedia li a img:hover {
    border: 3px solid #3aff00; 
    box-shadow: 0 0 4px #3aff00, 0 0 10px #3aff00, 0 0 15px #3aff00;
}